/javaPractice/oddNumOrPowerOf2/nbproject/private/
/javaPractice/oddNumOrPowerOf2/build/
/javaPractice/phoneNumFormatChangeWithRegex/nbproject/private/
/javaPractice/phoneNumFormatChangeWithRegex/build/
/javaPractice/recursiveFizzBuzz/nbproject/private/
/javaPractice/recursiveFizzBuzz/build/
/javaPractice/reverseString/nbproject/private/
/javaPractice/reverseString/build/